@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    <abbr title="Phone">P:</abbr>
    +201024040912
</address>

<address>
    <strong>Support:</strong>   <a href="ahmadsamir1194@gmai.com">ahmadsamir1194@gmail.com</a><br />
    
</address>